{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
  <h1></h1>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-book"></i> Quantidade de Documentos:
        </div>
        <table class="table table-bordered table-striped table-hover table-responsive">
          <thead>
            <tr class="info">
              <th>
                <i class="fa fa-database"></i> Modelos:
              </th>
              <th>
                <i class="fa fa-info"></i> Identifiers:
              </th>
              <th>
                <i class="fa fa-download"></i> Extract:
                <a class="pull-right" href="{{ url_for('extract.logs_list') }}" data-toggle="tooltip" data-placement="left" title="View Extract Logs">
                  <span class="glyphicon glyphicon-list-alt"></span>
                </a>
              </th>
              <th>
                <i class="fa fa-cogs"></i> Transform:
                <a class="pull-right" href="{{ url_for('transform.logs_list') }}" data-toggle="tooltip" data-placement="left" title="View Transform Logs">
                  <span class="glyphicon glyphicon-list-alt"></span>
                </a>
              </th>
              <th>
                <i class="fa fa-upload"></i> Load:
                <a class="pull-right" href="{{ url_for('load.logs_list') }}" data-toggle="tooltip" data-placement="left" title="View Load Logs">
                  <span class="glyphicon glyphicon-list-alt"></span>
                </a>
              </th>
              <th>
                <i class="fa fa-globe"></i>
                OPAC schema:
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Collections:</td>
              <td>
                <a href="{{ url_for('sync_ids.collection_list') }}">
                  {% if ids_collection_count < 1 %}
                    <span class="badge badge-danger">{{ ids_collection_count }}</span>
                  {% else %}
                    <span class="badge badge-primary">{{ ids_collection_count }}</span>
                  {% endif %}
                </a>
              </td>
              <td>
                <a href="{{ url_for('extract.collection_list') }}">
                  {% if extract_collection_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif extract_collection_count < ids_collection_count %}
                      <span class="badge badge-warning">
                  {% elif extract_collection_count > ids_collection_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ extract_collection_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('transform.collection_list') }}">
                  {% if transform_collection_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif transform_collection_count < extract_collection_count %}
                      <span class="badge badge-warning">
                  {% elif transform_collection_count > extract_collection_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ transform_collection_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('load.collection_list') }}">
                  {% if load_collection_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif load_collection_count < transform_collection_count %}
                    <span class="badge badge-warning">
                  {% elif load_collection_count > transform_collection_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ load_collection_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('opac.collection_list') }}">
                  {% if opac_collection_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif opac_collection_count < load_collection_count %}
                    <span class="badge badge-warning">
                  {% elif opac_collection_count > load_collection_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ opac_collection_count }}</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>Journals:</td>
              <td>
                <a href="{{ url_for('sync_ids.journal_list') }}">
                  {% if ids_journal_count < 1 %}
                    <span class="badge badge-danger">{{ ids_journal_count }}</span>
                  {% else %}
                    <span class="badge badge-primary">{{ ids_journal_count }}</span>
                  {% endif %}
                </a>
              </td>
              <td>
                <a href="{{ url_for('extract.journal_list') }}">
                  {% if extract_journal_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif extract_journal_count < ids_journal_count %}
                      <span class="badge badge-warning">
                  {% elif extract_journal_count > ids_journal_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ extract_journal_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('transform.journal_list') }}">
                  {% if transform_journal_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif transform_journal_count < extract_journal_count %}
                      <span class="badge badge-warning">
                  {% elif transform_journal_count > extract_journal_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ transform_journal_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('load.journal_list') }}">
                  {% if load_journal_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif load_journal_count < transform_journal_count %}
                    <span class="badge badge-warning">
                  {% elif load_journal_count > transform_journal_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ load_journal_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('opac.journal_list') }}">
                  {% if opac_journal_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif opac_journal_count < load_journal_count %}
                    <span class="badge badge-warning">
                  {% elif opac_journal_count > load_journal_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ opac_journal_count }}</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>Issues:</td>
              <td>
                <a href="{{ url_for('sync_ids.issue_list') }}">
                  {% if ids_issue_count < 1 %}
                    <span class="badge badge-danger">{{ ids_issue_count }}</span>
                  {% else %}
                    <span class="badge badge-primary">{{ ids_issue_count }}</span>
                  {% endif %}
                </a>
              </td>
              <td>
                <a href="{{ url_for('extract.issue_list') }}">
                  {% if extract_issue_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif extract_issue_count < ids_issue_count %}
                      <span class="badge badge-warning">
                  {% elif extract_issue_count > ids_issue_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ extract_issue_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('transform.issue_list') }}">
                  {% if transform_issue_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif transform_issue_count < extract_issue_count %}
                      <span class="badge badge-warning">
                  {% elif transform_issue_count > extract_issue_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ transform_issue_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('load.issue_list') }}">
                  {% if load_issue_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif load_issue_count < transform_issue_count %}
                    <span class="badge badge-warning">
                  {% elif load_issue_count > transform_issue_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ load_issue_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('opac.issue_list') }}">
                  {% if opac_issue_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif opac_issue_count < load_issue_count %}
                    <span class="badge badge-warning">
                  {% elif opac_issue_count > load_issue_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ opac_issue_count }}</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>Articles:</td>
              <td>
                <a href="{{ url_for('sync_ids.article_list') }}">
                  {% if ids_article_count < 1 %}
                    <span class="badge badge-danger">{{ ids_article_count }}</span>
                  {% else %}
                    <span class="badge badge-primary">{{ ids_article_count }}</span>
                  {% endif %}
                </a>
              </td>
              <td>
                <a href="{{ url_for('extract.article_list') }}">
                  {% if extract_article_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif extract_article_count < ids_article_count %}
                      <span class="badge badge-warning">
                  {% elif extract_article_count > ids_article_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ extract_article_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('transform.article_list') }}">
                  {% if transform_article_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif transform_article_count < extract_article_count %}
                      <span class="badge badge-warning">
                  {% elif transform_article_count > extract_article_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ transform_article_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('load.article_list') }}">
                  {% if load_article_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif load_article_count < transform_article_count %}
                    <span class="badge badge-warning">
                  {% elif load_article_count > transform_article_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ load_article_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('opac.article_list') }}">
                  {% if opac_article_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif opac_article_count < load_article_count %}
                    <span class="badge badge-warning">
                  {% elif opac_article_count > load_article_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ opac_article_count }}</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>Press Releases:</td>
              <td>
                <a href="{{ url_for('sync_ids.press_release_list') }}">
                  {% if ids_press_release_count < 1 %}
                    <span class="badge badge-danger">{{ ids_press_release_count }}</span>
                  {% else %}
                    <span class="badge badge-primary">{{ ids_press_release_count }}</span>
                  {% endif %}
                </a>
              </td>
              <td>
                <a href="{{ url_for('extract.press_release_list') }}">
                  {% if extract_press_release_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif extract_press_release_count < ids_press_release_count %}
                      <span class="badge badge-warning">
                  {% elif extract_press_release_count > ids_press_release_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ extract_press_release_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('transform.press_release_list') }}">
                  {% if transform_press_release_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif transform_press_release_count < extract_press_release_count %}
                      <span class="badge badge-warning">
                  {% elif transform_press_release_count > extract_press_release_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ transform_press_release_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('load.press_release_list') }}">
                  {% if load_press_release_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif load_press_release_count < transform_press_release_count %}
                    <span class="badge badge-warning">
                  {% elif load_press_release_count > transform_press_release_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ load_press_release_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('opac.pressrelease_list') }}">
                  {% if opac_pressrelease_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif opac_pressrelease_count < load_press_release_count %}
                    <span class="badge badge-warning">
                  {% elif opac_pressrelease_count > load_press_release_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ opac_pressrelease_count }}</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>News:</td>
              <td>
                <a href="{{ url_for('sync_ids.news_list') }}">
                  {% if ids_news_count < 1 %}
                    <span class="badge badge-danger">{{ ids_news_count }}</span>
                  {% else %}
                    <span class="badge badge-primary">{{ ids_news_count }}</span>
                  {% endif %}
                </a>
              </td>
              <td>
                <a href="{{ url_for('extract.news_list') }}">
                  {% if extract_news_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif extract_news_count < ids_news_count %}
                      <span class="badge badge-warning">
                  {% elif extract_news_count > ids_news_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ extract_news_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('transform.news_list') }}">
                  {% if transform_news_count < 1 %}
                      <span class="badge badge-danger">
                  {% elif transform_news_count < extract_news_count %}
                      <span class="badge badge-warning">
                  {% elif transform_news_count > extract_news_count %}
                      <span class="badge badge-danger">
                  {% else %}
                      <span class="badge badge-success">
                  {% endif %}
                  {{ transform_news_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('load.news_list') }}">
                  {% if load_news_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif load_news_count < transform_news_count %}
                    <span class="badge badge-warning">
                  {% elif load_news_count > transform_news_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ load_news_count }}</span>
                </a>
              </td>
              <td>
                <a href="{{ url_for('opac.news_list') }}">
                  {% if opac_news_count < 1 %}
                    <span class="badge badge-danger">
                  {% elif opac_news_count < load_news_count %}
                    <span class="badge badge-warning">
                  {% elif opac_news_count > load_news_count%}
                    <span class="badge badge-danger">
                  {% else %}
                    <span class="badge badge-success">
                  {% endif %}
                  {{ opac_news_count }}</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>Sponsors:</td>
              <td><i class="fa fa-ban"></i></td>
              <td><i class="fa fa-ban"></i></td>
              <td><i class="fa fa-ban"></i></td>
              <td><i class="fa fa-ban"></i></td>
              <td>
                <a href="{{ url_for('opac.sponsor_list') }}">
                  <span class="badge">{{ opac_sponsor_count }}</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>Pages:</td>
              <td><i class="fa fa-ban"></i></td>
              <td><i class="fa fa-ban"></i></td>
              <td><i class="fa fa-ban"></i></td>
              <td><i class="fa fa-ban"></i></td>
              <td>
                <a href="{{ url_for('opac.page_list') }}">
                  <span class="badge">{{ opac_page_count }}</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> {# end: col-md-X #}
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          &Delta; Diferências em quantidade de documentos:
        </div>

        <table class="table table-bordered table-striped table-hover table-responsive">
          <thead>
            <tr class="warning">
              <th>Modelos:</th>
              <th>Identifiers - Extract</th>
              <th>Extract - Transform</th>
              <th>Transform - Load</th>
              <th>Load - OPAC</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Collections:</td>
              <td>
                {% with diff = ids_collection_count - extract_collection_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = extract_collection_count - transform_collection_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = transform_collection_count - load_collection_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = load_collection_count - opac_collection_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
            <tr>
              <td>Journals:</td>
              <td>
                {% with diff = ids_journal_count - extract_journal_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = extract_journal_count - transform_journal_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = transform_journal_count - load_journal_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = load_journal_count - opac_journal_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
            <tr>
              <td>Issue:</td>
              <td>
                {% with diff = ids_issue_count - extract_issue_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = extract_issue_count - transform_issue_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = transform_issue_count - load_issue_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = load_issue_count - opac_issue_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
            <tr>
              <td>Article:</td>
              <td>
                {% with diff = ids_article_count - extract_article_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = extract_article_count - transform_article_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = transform_article_count - load_article_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = load_article_count - opac_article_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
            <tr>
              <td>Press Releases:</td>
              <td>
                {% with diff = ids_press_release_count - extract_press_release_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = extract_press_release_count - transform_press_release_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = transform_press_release_count - load_press_release_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = load_press_release_count - opac_pressrelease_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
            <tr>
              <td>News:</td>
              <td>
                {% with diff = ids_news_count - extract_news_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = extract_news_count - transform_news_count  %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = transform_news_count - load_news_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with diff = load_news_count - opac_news_count %}
                  {% if diff == 0 %}
                    <span class="badge badge-success">{{ diff }}</span>
                  {% else %}
                    <span class="badge badge-danger">{{ diff }}</span>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> {# end: col-md-X #}
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <i class="fa fa-code-fork"></i> Registros de Mudanças <strong>(não aplicados)</strong>:
        </div>
        <table class="table table-bordered table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>
                <i class="fa fa-database"></i> Modelos:
              </th>
              <th colspan="3">
                <i class="fa fa-download"></i> Extract:
              </th>
              <th colspan="3">
                <i class="fa fa-cogs"></i> Transform:
              </th>
              <th colspan="3">
                <i class="fa fa-upload"></i> Load:
              </th>
            </tr>
            <tr class="info">
              <th></th>
              {# extract #}
              <th class="col-md-1">ADD</th>
              <th class="col-md-1">UPDATE</th>
              <th class="col-md-1">DELETE</th>
              {# transform #}
              <th class="col-md-1">ADD</th>
              <th class="col-md-1">UPDATE</th>
              <th class="col-md-1">DELETE</th>
              {# load #}
              <th class="col-md-1">ADD</th>
              <th class="col-md-1">UPDATE</th>
              <th class="col-md-1">DELETE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Collection:</td>
              {# extract #}
              <td>{{ diff_ex_add_collection_count }}</td>
              <td>{{ diff_ex_upd_collection_count }}</td>
              <td>{{ diff_ex_del_collection_count }}</td>
              {# transform #}
              <td>{{ diff_tr_add_collection_count }}</td>
              <td>{{ diff_tr_upd_collection_count }}</td>
              <td>{{ diff_tr_del_collection_count }}</td>
              {# load #}
              <td>{{ diff_lo_add_collection_count }}</td>
              <td>{{ diff_lo_upd_collection_count }}</td>
              <td>{{ diff_lo_del_collection_count }}</td>
            </tr>
            <tr>
              <td>Journal:</td>
              {# extract #}
              <td>{{ diff_ex_add_journal_count }}</td>
              <td>{{ diff_ex_upd_journal_count }}</td>
              <td>{{ diff_ex_del_journal_count }}</td>
              {# transform #}
              <td>{{ diff_tr_add_journal_count }}</td>
              <td>{{ diff_tr_upd_journal_count }}</td>
              <td>{{ diff_tr_del_journal_count }}</td>
              {# load #}
              <td>{{ diff_lo_add_journal_count }}</td>
              <td>{{ diff_lo_upd_journal_count }}</td>
              <td>{{ diff_lo_del_journal_count }}</td>
            </tr>
            <tr>
              <td>Issue:</td>
              {# extract #}
              <td>{{ diff_ex_add_issue_count }}</td>
              <td>{{ diff_ex_upd_issue_count }}</td>
              <td>{{ diff_ex_del_issue_count }}</td>
              {# transform #}
              <td>{{ diff_tr_add_issue_count }}</td>
              <td>{{ diff_tr_upd_issue_count }}</td>
              <td>{{ diff_tr_del_issue_count }}</td>
              {# load #}
              <td>{{ diff_lo_add_issue_count }}</td>
              <td>{{ diff_lo_upd_issue_count }}</td>
              <td>{{ diff_lo_del_issue_count }}</td>
            </tr>
            <tr>
              <td>Article:</td>
              {# extract #}
              <td>{{ diff_ex_add_article_count }}</td>
              <td>{{ diff_ex_upd_article_count }}</td>
              <td>{{ diff_ex_del_article_count }}</td>
              {# transform #}
              <td>{{ diff_tr_add_article_count }}</td>
              <td>{{ diff_tr_upd_article_count }}</td>
              <td>{{ diff_tr_del_article_count }}</td>
              {# load #}
              <td>{{ diff_lo_add_article_count }}</td>
              <td>{{ diff_lo_upd_article_count }}</td>
              <td>{{ diff_lo_del_article_count }}</td>
            </tr>
            <tr>
              <td>Press Releases:</td>
              {# extract #}
              <td>{{ diff_ex_add_press_release_count }}</td>
              <td>{{ diff_ex_upd_press_release_count }}</td>
              <td>{{ diff_ex_del_press_release_count }}</td>
              {# transform #}
              <td>{{ diff_tr_add_press_release_count }}</td>
              <td>{{ diff_tr_upd_press_release_count }}</td>
              <td>{{ diff_tr_del_press_release_count }}</td>
              {# load #}
              <td>{{ diff_lo_add_press_release_count }}</td>
              <td>{{ diff_lo_upd_press_release_count }}</td>
              <td>{{ diff_lo_del_press_release_count }}</td>
            </tr>
            <tr>
              <td>News:</td>
              {# extract #}
              <td>{{ diff_ex_add_news_count }}</td>
              <td>{{ diff_ex_upd_news_count }}</td>
              <td>{{ diff_ex_del_news_count }}</td>
              {# transform #}
              <td>{{ diff_tr_add_news_count }}</td>
              <td>{{ diff_tr_upd_news_count }}</td>
              <td>{{ diff_tr_del_news_count }}</td>
              {# load #}
              <td>{{ diff_lo_add_news_count }}</td>
              <td>{{ diff_lo_upd_news_count }}</td>
              <td>{{ diff_lo_del_news_count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="row-fluid">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-envelope"></i>
          <strong>Mensagens mais recentes (somente as não lidas):</strong>
          <a class="pull-right" href="{{ url_for('default.message_list') }}" data-toggle="tooltip" data-placement="left" title="View All Messages">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
          </a>
        </div>
        {% if not latest_msg %}
          <div class="panel-body">
            <div class="alert alert-info" role="alert">
              <i class="fa fa-info"></i> Não existem mensagens não lidas
            </div>
          </div>
        {% else %}
          <ul class="list-group">
            {% for msg in latest_msg %}
              <a href="{{ url_for('default.message_detail', object_id=msg.id) }}" class="list-group-item">
                <h5 class="list-group-item-heading">
                  {{ msg.subject|truncate(100) }}
                  <span class="pull-right">
                    {# icone pelo tipo de msg #}
                    {% if msg.msg_type == 'ERROR' %}
                      <i class="fa fa-exclamation-circle text-danger"
                         data-toggle="tooltip" data-placement="left" title="Type: ERROR"></i>
                    {% elif msg.msg_type == 'WARNING' %}
                      <i class="fa fa-exclamation-triangle text-warning"
                         data-toggle="tooltip" data-placement="left" title="Type: WARNING"></i>
                    {% elif msg.msg_type == 'INFO' %}
                      <i class="fa fa-info-circle text-info"
                         data-toggle="tooltip" data-placement="left" title="Type: INFO"></i>
                    {% elif msg.msg_type == 'DEBUG' %}
                      <i class="fa fa-bug text-primary"
                         data-toggle="tooltip" data-placement="left" title="Type: DEBUG"></i>
                    {% endif %}
                    {# /icone pelo tipo de msg #}

                    <i class="fa fa-clock-o"
                       data-toggle="tooltip" data-placement="left" title="Created at: {{ msg.created_at.strftime('%Y-%m-%d %H:%M:%S') }}"></i>

                    {% if msg.model_name %}
                      <span class="badge badge-info" data-toggle="tooltip" data-placement="left" title="Model:">
                        {{ msg.model_name }}
                      </span>
                    {% endif %}
                    {% if msg.stage %}
                      <span class="badge badge-primary" data-toggle="tooltip" data-placement="left" title="Stage:">
                        {{ msg.stage }}
                      </span>
                    {% endif %}
                  </span>
                </h5>
                <p class="list-group-item-text">
                  {{ msg.body|safe|truncate(150) }}
                </p>
              </a>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}

