{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1></h1>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Extraction info:
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        Collections: <span class="badge">{{ extract_collection_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Journals: <span class="badge">{{ extract_journal_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Issues: <span class="badge">{{ extract_issue_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Articles: <span class="badge">{{ extract_article_count }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Transform info:
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        Collections: <span class="badge">{{ transform_collection_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Journals: <span class="badge">{{ transform_journal_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Issues: <span class="badge">{{ transform_issue_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Articles: <span class="badge">{{ transform_article_count }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Load info:
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        Collections: <span class="badge">{{ load_collection_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Journals: <span class="badge">{{ load_journal_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Issues: <span class="badge">{{ load_issue_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Articles: <span class="badge">{{ load_article_count }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

