{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1></h1>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Extract:
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        Collections:
                        {% if extract_collection_count == 0 %}
                            <span class="badge badge-danger">{{ extract_collection_count }}</span>
                        {% else %}
                            <span class="badge badge-primary">{{ extract_collection_count }}</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Journals:
                        {% if extract_journal_count == 0 %}
                            <span class="badge badge-danger">{{ extract_journal_count }}</span>
                        {% else %}
                            <span class="badge badge-primary">{{ extract_journal_count }}</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Issues:
                        {% if extract_issue_count == 0 %}
                            <span class="badge badge-danger">{{ extract_issue_count }}</span>
                        {% else %}
                            <span class="badge badge-primary">{{ extract_issue_count }}</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Articles:
                        {% if extract_article_count == 0 %}
                            <span class="badge badge-danger">{{ extract_article_count }}</span>
                        {% else %}
                            <span class="badge badge-primary">{{ extract_article_count }}</span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Transform:
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        Collections:
                        {% if transform_collection_count == 0 %}
                            <span class="badge badge-danger">
                        {% elif transform_collection_count < extract_collection_count %}
                            <span class="badge badge-warning">
                        {% elif transform_collection_count > extract_collection_count %}
                            <span class="badge badge-danger">
                        {% else %}
                            <span class="badge badge-success">
                        {% endif %}
                        {{ transform_collection_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Journals:
                        {% if transform_journal_count == 0 %}
                            <span class="badge badge-danger">
                        {% elif transform_journal_count < extract_journal_count %}
                            <span class="badge badge-warning">
                        {% elif transform_journal_count > extract_journal_count %}
                            <span class="badge badge-danger">
                        {% else %}
                            <span class="badge badge-success">
                        {% endif %}
                        {{ transform_journal_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Issues:
                        {% if transform_issue_count == 0 %}
                            <span class="badge badge-danger">
                        {% elif transform_issue_count < extract_issue_count %}
                            <span class="badge badge-warning">
                        {% elif transform_issue_count > extract_issue_count %}
                            <span class="badge badge-danger">
                        {% else %}
                            <span class="badge badge-success">
                        {% endif %}
                        {{ transform_issue_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Articles:
                        {% if transform_article_count == 0 %}
                            <span class="badge badge-danger">
                        {% elif transform_article_count < extract_article_count %}
                            <span class="badge badge-warning">
                        {% elif transform_article_count > extract_article_count %}
                            <span class="badge badge-danger">
                        {% else %}
                            <span class="badge badge-success">
                        {% endif %}
                        {{ transform_article_count }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Load:
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        Collections:
                        {% if load_collection_count == 0 %}
                            <span class="badge badge-danger">
                        {% elif load_collection_count < transform_collection_count %}
                            <span class="badge badge-warning">
                        {% elif load_collection_count > transform_collection_count%}
                            <span class="badge badge-danger">
                        {% else %}
                            <span class="badge badge-success">
                        {% endif %}
                        {{ load_collection_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Journals:
                        {% if load_journal_count == 0 %}
                            <span class="badge badge-danger">
                        {% elif load_journal_count < transform_journal_count %}
                            <span class="badge badge-warning">
                        {% elif load_journal_count > transform_journal_count%}
                            <span class="badge badge-danger">
                        {% else %}
                            <span class="badge badge-success">
                        {% endif %}
                        {{ load_journal_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Issues:
                        {% if load_issue_count == 0 %}
                            <span class="badge badge-danger">
                        {% elif load_issue_count < transform_issue_count %}
                            <span class="badge badge-warning">
                        {% elif load_issue_count > transform_issue_count%}
                            <span class="badge badge-danger">
                        {% else %}
                            <span class="badge badge-success">
                        {% endif %}
                        {{ load_issue_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Articles:
                        {% if load_article_count == 0 %}
                            <span class="badge badge-danger">
                        {% elif load_article_count < transform_article_count %}
                            <span class="badge badge-warning">
                        {% elif load_article_count > transform_article_count%}
                            <span class="badge badge-danger">
                        {% else %}
                            <span class="badge badge-success">
                        {% endif %}
                        {{ load_article_count }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

