<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ css }}">
        <link rel="stylesheet" href="{{ css_print }}" media="print">
    </head>
    <body>
        <section class="articleCtt articleCttLeft">
            <div class="container">
                <div id="standalonearticle">
                    <div class="articleTxt">
                        <div class="row">
                            <article class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0" id="articleText">
                                 {{ html }}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>