{% extends "base.html" %}
{% block title %}Unconfirmed Eamil{% endblock title %}
{% block content %}
  <h1></h1>
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
        <div class="panel panel-warning">
          <div class="panel-heading">Email não confirmado!</div>
          <div class="panel-body">
            Você <strong>deve</strong> confirmar seu email, clicando no link enviado para seu email.<br>
            Caso não tenha recebido o email com o link de confirmação,
            <strong>por favor entre em contato com o administrador.</strong>
          </div>
        </div>
    </div>
  </div>
{% endblock content %}
