{% macro render_row_cell(object, field_name, field_type='string') -%}

    {% if field_type == 'string' %}
        {{ object[field_name] }}
    {% elif field_type == 'date' %}
        {% if object[field_name] %}
            {% if object[field_name]|string %} {# workarround resolvido no proc parcial #}
                {{ object[field_name] }}
            {% else %}
                {{ object[field_name].strftime('%Y-%m-%d') }}
            {% endif %}
        {% endif %}
    {% elif field_type == 'date_time' %}
        {% if object[field_name] %}
            {% if object[field_name]|string %} {# workarround resolvido no proc parcial #}
                {{ object[field_name] }}
            {% else %}
                {{ object[field_name].strftime('%Y-%m-%d %H:%M:%S') }}
            {% endif %}
        {% endif %}
    {% elif field_type == 'boolean' %}
        {% if object[field_name] %}
            <i class="fa fa-check text-success" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-times text-danger" aria-hidden="true"></i>
        {% endif %}
    {% endif %}
{%- endmacro %}
