<div class="btn-toolbar action-toolbar" role="toolbar">
  <div class="btn-group" role="group">

    {# process action #}
    <div class="btn-group" role="group">
      {% if can_process %}
        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-refresh"></i> Processar <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a data-action="process" data-target="selected" href="#">Registros selecionados</a></li>
          <li><a data-action="process" data-target="all" href="#">Todos os registros</a></li>
        </ul>
      {% else %}
        <button type="button" class="btn btn-info btn-sm disabled dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-refresh"></i> Processar <span class="caret"></span>
        </button>
      {% endif %}
    </div>

    {# delete action #}
    <div class="btn-group" role="group">
      {% if can_delete %}
        <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-trash" aria-hidden="true"></i> Remover <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a data-action="delete" data-target="selected" href="#">Registros selecionados</a></li>
          <li><a data-action="delete" data-target="all" href="#">Todos os registros</a></li>
        </ul>
      {% else %}
        <button type="button" class="btn btn-danger btn-sm disabled dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-trash" aria-hidden="true"></i> Remover <span class="caret"></span>
        </button>
      {% endif %}
    </div>
  </div>

  {% if custom_actions %}
    <div class="btn-group pull-right" role="group">

      {% for custom_action in custom_actions %}

        <!-- custom_action: {{ custom_action.method_name }} -->
        <div class="btn-group" role="group">
          {% if custom_action.can_select_rows %}
            {% if can_process and objects|length > 0 %} {# botão dropdown habilitado #}
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="{{ custom_action.icon_class }}"></i> {{ custom_action.label }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a data-action="{{ custom_action.method_name }}" data-target="selected" href="#">Registros selecionados</a></li>
                <li><a data-action="{{ custom_action.method_name }}" data-target="all" href="#">Todos os registros</a></li>
              </ul>
            {% else %} {# botão dropdown deshabilitado #}
              <button type="button" class="btn btn-default btn-sm disabled dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="{{ custom_action.icon_class }}"></i> {{ custom_action.label }} <span class="caret"></span>
              </button>
            {% endif %}
          {% else %} {# botão simples habilitado #}
            {% if can_process %}
              <button type="button" class="btn btn-default btn-sm" data-action="{{ custom_action.method_name }}">
                <i class="{{ custom_action.icon_class }}" aria-hidden="true"></i> {{ custom_action.label }}
              </button>
            {% else %} {# botão simples deshabilitado #}
              <button type="button" class="btn btn-default btn-sm disabled" disabled=disabled  data-action="{{ custom_action.method_name }}">
                <i class="{{ custom_action.icon_class }}" aria-hidden="true"></i> {{ custom_action.label }}
              </button>
            {% endif %}
          {% endif %}
        </div>
        <!-- custom_action: {{ custom_action.method_name }} -->
      {% endfor %}
    </div>
  {% endif %}
</div>
